{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Halaman Tentang Admin</h1>
    
    </div>
        <div id="Loader">
        <div class="spinner-border text-primary m-5" style="width: 10rem; height: 10rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        </div>

            <main class="container">
                <div class="bg-light p-5 rounded ">
                  <h1>Welcome</h1>
                  <p class="lead"> Hallo, Selamat Datang </p>
                  <div class="row row-cols-1 row-cols-md-3 g-4">

                    <div class="col">
                      <div class="card h-100">
                         <!-- <img src="/Aku.jpg" class="card-img-top"> !-->
                        <div class="card-body">
                          <h5 class="card-title">Sistem</h5>
                          <p class="card-text">Perkenalkan Kami dari kelompok 4 Kelas 5C Membuat sebuah sistem Pendeteksi
                              kecurangan Menggunakan Implementasi Face Recognation</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <div class="card-body">
                          <h5 class="card-title">Big Project</h5>
                          <p class="card-text">Tujuan dari kami membuat sistem ini adalah salah satu bentuk wajib untuk  
                              memenuhi nilai UAS semester 5 dari Penggabungan 7 Mata Kuliah 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <div class="card-body">
                          <h5 class="card-title">Fraud Catcher</h5>
                          <p class="card-text">kamera pengawas ini kami beri nama Fraud Catcher  
                              fraud catcher dapat mengetahui bentuk kecurangan dari lirikan dan gerakan kepala</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Pengembangan</h5>
                            <p class="card-text">Sayangnya Fraud Catcher yang kami buat masih memiliki tingkat keakurasian 
                                yang belum maksimal, oleh karenanya perlu penelitian lebih lanjut kedepanya </p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Harapan</h5>
                            <p class="card-text">Kami Ber 4 yang merupakan mahasiswa yang mengembangkan fraud catcher
                                akan berupaya dan berpartisipasi dalam bidang lomba AI</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Kelompok </h5>
                            <p class="card-text">Yoga Pangestu     : 19090034 </p>
                            <p class="card-text">Nur Khafidah      : 19090075 </p>
                            <p class="card-text">Arsyad Abdillah   : 19090134 </p>
                            <p class="card-text">Miftahul Mubarok  : 19090089 </p>
                          </div>
                        </div>
                      </div>   
                </div>
                </div>
            </main>

{% endblock %}