{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Kelola Ujian</h1>
    </div>
    <div id="Loader">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-success"  style="width: 10rem; height: 10rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="container">
        <br /><br />
        <div class="card">
            <div class="card-header">
                Table Ujian
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="myTable">
                    <thead class="table table-dark">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Hari & Tanggal</th>
                            <th scope="col">Mata Pelajaran</th>
                            <th scope="col">Jumlah Soal</th>
                            <th scope="col">Soal Rusak</th>
                            <th scope="col">Nama Pengawas</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dt in data %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{dt.namaObat}}</td>
                            <td>{{dt.jenisObat}}</td>
                            <td>{{dt.harga_beli}}</td>
                            <td>{{dt.harga_jual}}</td>
                            <td>{{dt.suplier.perusahaan}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary">
                                    <a style="text-decoration: none; color: white;" href="/pengawasan"><b>Mulai</b></a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% block tail %}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelector("#idObat").onsubmit = async (e) => {
				e.preventDefault();
				const req = new XMLHttpRequest();
				req.onload = () => {
					const data = JSON.parse(req.responseText);
					if(data.success) {
						alert("Data berhasil di tambahkan!");
						location.reload();
					} else {
						alert("Ada trouble");
					}
				}
				const form = document.querySelector("#idObat");
				const datanya = new FormData(form);
				await req.open("POST", "/tambahobat", true);
				req.send(datanya);
			}
		});
		
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelector("#editObat").onsubmit = async (e) => {
				e.preventDefault();
				const req = new XMLHttpRequest();
				req.onload = () => {
					const data = JSON.parse(req.responseText);
					if(data.success) {
						alert("Data berhasil di edit!");
						location.reload();
					} else {
						alert("Ada trouble");
					}
				}
				const form = document.querySelector("#editObat");
				const datanya = new FormData(form);
				const nilai = document.querySelector("#eObt").value;
				await req.open("POST", `/editobat/${nilai}`, true);
				req.send(datanya);
			}
		});
	</script>
{% endblock %}
{% endblock %}